/.idea/.idea.WardenControl/.idea/.name
/libwardenctl/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/wardenctl/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/wardenctl/obj/Debug/net9.0/apphost
/.idea/.idea.WardenControl/.idea/indexLayout.xml
/wardenctl/bin/Debug/net9.0/IniParser.dll
/libwardenctl/obj/Debug/net9.0/libwardenctl.AssemblyInfo.cs
/libwardenctl/obj/Debug/net9.0/libwardenctl.AssemblyInfoInputs.cache
/libwardenctl/obj/Debug/net9.0/libwardenctl.assets.cache
/libwardenctl/obj/Debug/net9.0/libwardenctl.csproj.AssemblyReference.cache
/libwardenctl/obj/Debug/net9.0/libwardenctl.csproj.CoreCompileInputs.cache
/libwardenctl/obj/Debug/net9.0/libwardenctl.csproj.FileListAbsolute.txt
/libwardenctl/obj/libwardenctl.csproj.nuget.dgspec.json
/libwardenctl/obj/libwardenctl.csproj.nuget.g.props
/libwardenctl/obj/libwardenctl.csproj.nuget.g.targets
/libwardenctl/bin/Debug/net9.0/libwardenctl.deps.json
/libwardenctl/bin/Debug/net9.0/libwardenctl.dll
/libwardenctl/obj/Debug/net9.0/ref/libwardenctl.dll
/libwardenctl/obj/Debug/net9.0/refint/libwardenctl.dll
/libwardenctl/obj/Debug/net9.0/libwardenctl.dll
/wardenctl/bin/Debug/net9.0/libwardenctl.dll
/libwardenctl/obj/Debug/net9.0/libwardenctl.GeneratedMSBuildEditorConfig.editorconfig
/libwardenctl/obj/Debug/net9.0/libwardenctl.GlobalUsings.g.cs
/libwardenctl/bin/Debug/net9.0/libwardenctl.pdb
/libwardenctl/obj/Debug/net9.0/libwardenctl.pdb
/wardenctl/bin/Debug/net9.0/libwardenctl.pdb
/libwardenctl/obj/Debug/net9.0/libwardenctl.sourcelink.json
/libwardenctl/obj/project.assets.json
/wardenctl/obj/project.assets.json
/libwardenctl/obj/project.nuget.cache
/wardenctl/obj/project.nuget.cache
/libwardenctl/obj/project.packagespec.json
/wardenctl/obj/project.packagespec.json
/.idea/.idea.WardenControl/.idea/projectSettingsUpdater.xml
/libwardenctl/obj/rider.project.model.nuget.info
/wardenctl/obj/rider.project.model.nuget.info
/libwardenctl/obj/rider.project.restore.info
/wardenctl/obj/rider.project.restore.info
/.idea/.idea.WardenControl/.idea/vcs.xml
/wardenctl/bin/Debug/net9.0/wardenctl
/wardenctl/obj/Debug/net9.0/wardenctl.AssemblyInfo.cs
/wardenctl/obj/Debug/net9.0/wardenctl.AssemblyInfoInputs.cache
/wardenctl/obj/Debug/net9.0/wardenctl.assets.cache
/wardenctl/obj/Debug/net9.0/wardenctl.csproj.AssemblyReference.cache
/wardenctl/obj/Debug/net9.0/wardenctl.csproj.CoreCompileInputs.cache
/wardenctl/obj/Debug/net9.0/wardenctl.csproj.FileListAbsolute.txt
/wardenctl/obj/wardenctl.csproj.nuget.dgspec.json
/wardenctl/obj/wardenctl.csproj.nuget.g.props
/wardenctl/obj/wardenctl.csproj.nuget.g.targets
/wardenctl/obj/Debug/net9.0/wardenctl.csproj.Up2Date
/wardenctl/bin/Debug/net9.0/wardenctl.deps.json
/wardenctl/bin/Debug/net9.0/wardenctl.dll
/wardenctl/obj/Debug/net9.0/ref/wardenctl.dll
/wardenctl/obj/Debug/net9.0/refint/wardenctl.dll
/wardenctl/obj/Debug/net9.0/wardenctl.dll
/wardenctl/obj/Debug/net9.0/wardenctl.GeneratedMSBuildEditorConfig.editorconfig
/wardenctl/obj/Debug/net9.0/wardenctl.genruntimeconfig.cache
/wardenctl/obj/Debug/net9.0/wardenctl.GlobalUsings.g.cs
/wardenctl/bin/Debug/net9.0/wardenctl.pdb
/wardenctl/obj/Debug/net9.0/wardenctl.pdb
/wardenctl/bin/Debug/net9.0/wardenctl.runtimeconfig.json
/wardenctl/obj/Debug/net9.0/wardenctl.sourcelink.json
/.idea/.idea.WardenControl/.idea/workspace.xml
